.main-content {
    margin-left: 260px; /* Ajusta según el ancho de la barra lateral */
    padding: 20px; /* Espaciado interno */
  }


.reservation-card {
    background-color: #f0f8ff; /* Azul claro */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease;
}

.reservation-card:hover {
    transform: translateY(-5px); /* Efecto flotante */
}

.reservation-content h3 {
    margin: 0;
    color: #007bff; /* Azul */
}

.reservation-content p {
    margin: 5px 0;
    color: #333;
}

.reservation-actions button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.reservation-actions button:hover {
    background-color: #0056b3; /* Azul más oscuro */
}

.reservation-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
